.main-footer {
  background-color: black;
  height: 120px;
  color: white;
 }
.footer_logo {
  max-width: 35%;
  max-height: 35%;
}

.col {
  text-align: center;
  width: 100%;
}


.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
   
}
.row1 {
text-align: center;
margin-top: 8px;
}

p {
  font-size: 10px;
  margin-bottom: 5px;
}
