:root {
  --btn-background: #00a878;
}

.cardHome p {
  font-weight: bold;
  padding: 0.8rem 0;
}

.cardHome h2 {
  font-size: 1rem;
}

.cardHomeContainer {
  display: flex;
  justify-content: center;
}

.cardHome {
  display: flex;
  border-radius: 0.6rem;
  margin: 1rem 0;
  padding: 0.6rem;
  background-color: var(--btn-background);
  column-gap: 1rem;
  height: 10rem;
  width: 80%;
}

.cardHome div:first-child {
  max-width: 30vw;
}

.cardHome-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 80% 70%;
  border-radius: 1rem;
}

.cardHome address {
  font-size: 0.8rem;
}

@media screen and (min-width: 767px) {
  .cardHome div:first-child {
    max-width: 30vw;
  }
  .cardHome-image img {
    height: 100%;
    width: 80%;
    object-fit: cover;
    object-position: 100% 40%;
    border-radius: 1rem;
  }
  .cardHome address {
    font-size: 1rem;
  }
  .cardHome h2 {
    font-size: 1.2rem;
  }
}
