:root {
  --btn-background: #00a878;
}

* {
  box-sizing: border-box;
}

div.container-cat {
  padding-top: 6.5rem;
  margin: 0 auto;
}

div.div-recherche {
  display: flex;
  width: 95vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.container-cat form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

div.selectCat,
div.selectDept {
  display: flex;
  flex-direction: column;
}

div.container-cat form input,
div.container-cat form select {
  width: 90vw;
  padding: 0.5rem 0.6rem;
  border-radius: 1rem;
}

.div-card p {
  font-weight: bold;
  padding: 1rem 0;
}

.div-card h2 {
  font-size: 1.3rem;
}

.container-cat input[type="submit"] {
  background-color: var(--btn-background);
  border-radius: 0.6rem;
  font-size: 1.8rem;
  padding: 0.4rem 0;
  margin-bottom: 2.2rem;
  border-style: none;
}

div.div-card {
  display: flex;
  border-radius: 0.6rem;
  margin: 1rem 0;
  padding: 0.6rem;
  background-color: var(--btn-background);
  column-gap: 1rem;
  height: 13rem;
  box-shadow: 0.2rem 0.2rem 0.6rem gray;
  width: 90%;
}

div.div-card-details {
  display: flex;
  border-radius: 0.6rem;
  margin: 1rem 0;
  padding: 0.8rem;
  background-color: var(--btn-background);
  column-gap: 1rem;
  box-shadow: 0.2rem 0.2rem 0.6rem gray;
  width: 95%;
  height: auto;
}

div.div-card-details div:first-child {
  border-radius: 1.25rem;
  width: 25rem;
  height: 8rem;
}

div.div-card-details p {
  font-style: italic;
}

.div-card div:first-child {
  border-radius: 1.25rem;
  width: 15rem;
  height: auto;
}

.div-card button {
  background: var(--btn-background);
  margin: 1rem 0 2.5rem 2rem;
  color: white;
  font-size: 0.7rem;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.4s all;
}

.div-card button:hover {
  font-size: 0.8rem;
  background-color: white;
  color: var(--btn-background);
  border-radius: 0.5rem;
  padding: 0.1rem 0.3rem;
}

.div-image img {
  width: 100%;
  height: 100%;
  border-radius: 2.6rem;
}
.container-cat h2 {
  font-size: 2.3rem;
}

div.div-card-details li {
  list-style-type: circle;
  margin-left: 1rem;
}

@media screen and (min-width: 767px) {
  div.div-recherche {
    flex-direction: row;
    column-gap: 2rem;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  div.div-card {
    height: 14rem;
    width: 28rem;
  }

  div.container-cat {
    display: flex;
    width: 75%;
    margin: -2.3rem auto 1.3rem;
    justify-content: center;
  }

  div.container-cat form input,
  div.container-cat form select {
    width: 22rem;
  }

  .div-card div:first-child {
    border-radius: 1.25rem;
    width: 12rem;
    height: 11.9rem;
  }

  div.div-card-details {
    display: flex;
    border-radius: 0.6rem;
    margin: 1rem 0;
    padding: 1.5rem 0.6rem 0 0.6rem;
    background-color: var(--btn-background);
    column-gap: 1rem;
    box-shadow: 0.2rem 0.2rem 0.6rem gray;
    width: 70%;
    height: auto;
  }

  div.div-card-details p {
    font-style: italic;
  }

  div.div-card-details div:first-child {
    width: 40%;
    height: auto;
    padding: 0 1rem 1.3rem 1rem;
  }

  div.div-card-details li {
    font-size: 1.2rem;
  }
}
