.homePage {
  margin-top: 10px;
  text-align: center;
  color: #2f4f4f;
  display: flex;
  justify-content: center;
}

.homePage h1 {
  font-size: 1.2rem;
}

.homePage h2 {
  font-size: 1rem;
}

.homePage h3 {
  font-size: 1rem;
}
.homePage p {
  font-size: 0.9rem;
}

.homeText {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  width: 75vh;
}

@media screen and (min-width: 768px) {
  .homePage h1 {
    font-size: 2rem;
  }

  .homePage h2 {
    font-size: 1.4rem;
  }

  .homePage p {
    font-size: 1.2rem;
  }
}
