
:root {
    --btn-background : #00A878;
}

form {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

div.div-recherche {
    width: 90vw;
    margin : 1rem auto;
}

div.selectCat, div.selectDept {
    display: flex;
    flex-direction: column;
}

input, select {
    width: 90vw;
    padding : .5rem 0;
}

p {
    margin-top : 1rem;
}

.categorieContainer input[type='submit'] {
    background-color: var(--btn-background);
    border-radius: 10px;
    font-size : 1.8rem;
    padding : .4rem 0; 
    margin-bottom: 35px;
    border-style: none;
    cursor : pointer;
}