@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: black;
  --second-color: #00a878;
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1rem;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

Link {
  text-decoration: none;
}
