@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #0b0500;
  --second-color: #00a878;
  --third-color: #ffffff;
  --slider-title-color: #ffffff;
  --text-color: #333333;
  --title-color: #111111;

  --body-font: "Poppins", "Sans-serif";
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1rem;
}

.App {
  max-width: 900px;
  margin: 0 auto;
}
